body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #f5f5f5; /* a light background */
}



button {
    margin: 5px;
    padding: 10px 20px; /* larger click targets */
    border: none;
    background-color: #007BFF;
    color: #ffffff; /* white text */
    border-radius: 5px; /* rounded corners */
    font-size: 1em;
    cursor: pointer; /* hand cursor on hover */
    transition: background-color 0.3s; /* smooth transition */
}

button:hover {
    background-color: #0056b3; /* slightly darker shade on hover */
}

/* Responsive design for larger screens */
@media (min-width: 768px) {
    .flashcard {
        width: 70%; /* take up 70% of the screen width, up to the max-width */
        padding: 50px;
    }

    button {
        font-size: 1.2em; /* slightly larger buttons */
    }
}


.flashcard {
    border: 1px solid #ddd;
    padding: 30px;
    margin: 20px auto;
    max-width: 400px; 
    width: 90%; /* take up 90% of the screen width, up to the max-width */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    background-color: #ffffff; /* white background for the card */
    border-radius: 10px; /* rounded corners */
    display: flex;
    align-items: center;
}

.answer {
    display: none;
}
.cardSide {
    flex: 1;
    height: 100%;
    transition: background-color 0.3s; /* smooth transition */
}

.left {
    background: linear-gradient(to right, rgba(0,123,255,0.2), transparent);
}

.right {
    background: linear-gradient(to left, rgba(0,123,255,0.2), transparent);
}

.cardContent {
    flex: 2;
    padding: 20px;
    text-align: center;
}

/* For the hover effect */
.left:hover {
    background: linear-gradient(to right, rgba(0,123,255,0.4), transparent);
}

.right:hover {
    background: linear-gradient(to left, rgba(0,123,255,0.4), transparent);
}
