body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 800px;
    width: 90%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.topic-selection {
    margin-bottom: 20px;
}

.flashcard {
    display: flex;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.cardSide.left, .cardSide.right {
    width: 25%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
}

.cardSide.left {
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,0.8)); /* Gradient hint */
}

.cardSide.right {
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.8)); /* Gradient hint */
}


.cardContent {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.question, .answer {
    font-size: 24px;
    margin: 10px 0;
}

.answer {
    display: none;
    color: green;
}

.choices {
    list-style-type: none;
    padding: 0;
    display: none;
}

.choices li {
    margin-top: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.choices li:hover {
    background-color: #f0f0f0;
}

.choices .correct {
    color: green;
    background-color: #e6ffe6; /* Light green */
}

.choices .incorrect {
    color: red;
    background-color: #ffe6e6; /* Light red */
}

.icon {
    margin-left: 10px;
}

/* Responsive styling for mobile devices */
@media (max-width: 600px) {
    .question, .answer {
        font-size: 18px;
    }

    .cardContent {
        padding: 10px;
    }

    .container {
        padding: 10px;
    }
}
